
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');

.header{
    text-align: center;
    color: #A8E7E9;
    margin-top: 5rem;
    font-family: 'Prompt', sans-serif;
  }
.header h1{
    font-size: 4rem;
    text-shadow: 5px 6px 5px rgba(0, 0, 0, 0.1);
}
.buttons{
    text-align: center;
    margin-top: 8rem;
}
.buttons button{
  width: 400px;
  height: 100px;
  font-family: 'Prompt', sans-serif;
  font-size: larger;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(59, 55, 55);
  background-color: #D7E9F7;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-bottom: 50px;
}
.buttons button:hover{
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
