
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
.header{
    text-align: center;
    color: #A8E7E9;
    margin-top: 5rem;
    font-family: 'Prompt', sans-serif;
  }
.header h1{
    font-size: 4rem;
    text-shadow: 5px 6px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.header h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #FF0075;
  z-index: -1;
  transition: transform .3s ease;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

/*buttons*/

.buttons{
    align-items: center;
    margin-top: 8rem;
}
.buttons button{
  width: 400px;
  height: 100px;
  font-family: 'Prompt', sans-serif;
  font-size: larger;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(59, 55, 55);
  background-color: #D7E9F7;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-bottom: 50px;
}
.buttons button:hover{
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}


/* field set ui  */
.notes_container fieldset{
    background-color: #FAF3F3;
    padding: 20px;
    border: 5px solid #B2B1B9;
    border-radius: 10px;
}
.notes_container legend {
    text-align: center;
    font-family: cursive;
    background-color: #9FE6A0;
    padding: 5px;
    border: 1px solid #B2B1B9;
    border-radius: 5px;
}

.papers_container fieldset {
    background-color: #FAF3F3;
    padding: 20px;
    border: 5px solid #B2B1B9;
    border-radius: 10px;
}

.papers_container legend {
    text-align: center;
    font-family: cursive;
    background-color: #9FE6A0;
    padding: 5px;
    border: 1px solid #B2B1B9;
    border-radius: 5px;
}


/* -------------------------------------------------------------------- */
/* popup box styling  */

.popup-overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  z-index:1;
  background:rgba(0,0,0,0.5);
  display:none;
}
.popup {
  position:absolute;
  top:-150%;
  left:50%;
  transform:translate(-50%,-50%) scale(1.15);
  width:300px;
  height:440px;
  background:#f5f5f5;
  z-index:2;
  opacity:0;
  box-shadow:5px 5px 3px rgba(0,0,0,0.2);
  transition:transform 300ms ease-in-out,opacity 300ms ease-in-out;
}
body.showLoginForm .popup-overlay {
  display:block;
}
body.showLoginForm .popup {
  top:50%;
  opacity:1;
  transform:translate(-50%,-50%) scale(1);
}
.popup .popup-close {
  position:absolute;
  top:-10px;
  right:-10px;
  width:40px;
  height:40px;
  background:#555;
  color:#f5f5f5;
  font-size:25px;
  font-weight:600;
  text-align:center;
  border-radius:50%;
  cursor:pointer;
}
.popup .form .avatar {
  margin:30px 0px 20px;
  text-align:center;
}
.popup .form .avatar img {
  width:120px;
  border-radius:50%;
}
.popup .form .header {
  text-align:center;
  font-size:20px;
  font-weight:600;
  color:#222;
  margin:20px 0px;
}
.popup .form .element {
  padding:8px 20px;
}
.popup .form .element label {
  display:block;
  font-size:14px;
  color:#222;
  margin-bottom:5px;
}
.popup .form .element input {
  width:100%;
  padding:8px 10px;
  box-sizing:border-box;
  outline:none;
  border:1px solid #aaa;
  background:#eee;
  border-radius:45px;
}
.popup .form .element button {
  margin-top:5px;
  width:100%;
  padding:10px 0px;
  text-transform:uppercase;
  outline:none;
  border:none;
  font-size:15px;
  font-weight:600;
  border-radius:45px;
  cursor:pointer;
  background:#2EE59D;
  color:#f5f5f5;
}