
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
/*title*/
.header{
    text-align: center;
    color: #A8E7E9;
    margin-top: 2rem;
    font-family: 'Prompt', sans-serif;
  }
.header h1{
    font-size: 4rem;
    text-shadow: 5px 6px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.header h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #FF0075;
  z-index: -1;
  transition: transform .3s ease;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

.field{
    text-align: center;
}
.notesuploadform{
    text-align: center;
}
.exampaperuploadform{
    text-align: center;
}

.field label{
    font-family: cursive;
}
.field input[type=radio] {
   cursor: pointer; 
  user-select:none;
    height: 1.2rem;
    width: 2rem;
}

.notesuploadform label{
   font-family: 'Prompt', sans-serif;
    color: rgb(59, 55, 55);
    text-shadow: -3px 3px rgba(0,0,0,0.1);
}
.text-box{
  margin: 0.5em auto;
  padding: 0.5em 0.25em;
  border: none;
  border-radius: 0.2em;
  font-size: 0.8em;
  text-align: center;
  box-shadow: 0 0 0.2em 0.1em rgba(0,0,0,0.2);
    width: 15rem;
    margin-left: 10px;
}


.notesuploadform input[type=submit]{
    font-family: 'Prompt', sans-serif;
  font-size: larger;
    padding: 10px;
    width: 8rem;
    border-radius: 3rem;
    color: rgb(59, 55, 55);
  background-color: #D7E9F7;
  border: 1px solid #CEE5D0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.notesuploadform input[type=submit]:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    cursor: pointer;
}
.notesuploadform input[type=file]{
    font-family: 'Prompt', sans-serif;
    font-size: larger;
    padding: 10px;
    width: 20rem;
    border-radius: 3rem;
    color: rgb(59, 55, 55);

}


.exampaperuploadform label{
   font-family: 'Prompt', sans-serif;
    color: rgb(59, 55, 55);
    text-shadow: -3px 3px rgba(0,0,0,0.1);
}
.exampaperuploadform input[type=submit]{
    font-family: 'Prompt', sans-serif;
  font-size: larger;
    padding: 10px;
    width: 8rem;
    border-radius: 3rem;
    color: rgb(59, 55, 55);
  background-color: #D7E9F7;
  border: 1px solid #CEE5D0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.exampaperuploadform input[type=submit]:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    cursor: pointer;
}
.exampaperuploadform input[type=file]{
    font-family: 'Prompt', sans-serif;
    font-size: larger;
    padding: 10px;
    width: 20rem;
    border-radius: 3rem;
    color: rgb(59, 55, 55);

}
.exampaperuploadform input[type=date]{
    font-size: 1.2rem;

}
.exampaperuploadform select{
margin-bottom: 1em;
    padding: .25em;
    border: 0;
    border-bottom: 3px solid currentcolor; 
    font-weight: bold;
    letter-spacing: .15em;
    border-radius: 0;
    &:focus, &:active {
        outline: 0;
        border-bottom-color: red;
    }